<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.CheckingToolsFileDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.CheckingToolsFile" >
    <id column="CTFId" property="ctfid" jdbcType="INTEGER" />
    <result column="CTId" property="ctid" jdbcType="INTEGER" />
    <result column="CTFName" property="ctfname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CTFId, CTId, CTFName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkingtoolsfile
    where CTFId = #{ctfid,jdbcType=INTEGER}
  </select>
  <select id="selectByCtid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkingtoolsfile
    where CTId = #{ctid,jdbcType=INTEGER}
  </select>
  <delete id="deleteCheckingToolsFileByCtid" parameterType="java.lang.Integer" >
  DELETE FROM checkingtoolsfile WHERE CTId=#{ctid,jdbcType=INTEGER};
  </delete>
  <delete id="deleteCheckingToolsFileByCtfid" parameterType="java.lang.Integer" >
  DELETE FROM checkingtoolsfile WHERE CTFId=#{ctfid,jdbcType=INTEGER};
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.CheckingToolsFile" >
    insert into checkingtoolsfile (CTFId, CTId, CTFName
      )
    values (#{ctfid,jdbcType=INTEGER}, #{ctid,jdbcType=INTEGER}, #{ctfname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertCheckingToolsFile" >
    INSERT checkingtoolsfile(CTId,CTFName) VALUES(#{ctid,jdbcType=INTEGER},#{ctfname,jdbcType=VARCHAR});
  </insert>
  <insert id="insertSelective" parameterType="com.IVMS.model.CheckingToolsFile" >
    insert into checkingtoolsfile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctfid != null" >
        CTFId,
      </if>
      <if test="ctid != null" >
        CTId,
      </if>
      <if test="ctfname != null" >
        CTFName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctfid != null" >
        #{ctfid,jdbcType=INTEGER},
      </if>
      <if test="ctid != null" >
        #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctfname != null" >
        #{ctfname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IVMS.model.CheckingToolsFile" >
    update checkingtoolsfile
    <set >
      <if test="ctid != null" >
        CTId = #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctfname != null" >
        CTFName = #{ctfname,jdbcType=VARCHAR},
      </if>
    </set>
    where CTFId = #{ctfid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.CheckingToolsFile" >
    update checkingtoolsfile
    set CTId = #{ctid,jdbcType=INTEGER},
      CTFName = #{ctfname,jdbcType=VARCHAR}
    where CTFId = #{ctfid,jdbcType=INTEGER}
  </update>
</mapper>