<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.CheckingToolsRecordDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.CheckingToolsRecord" >
    <id column="CTRId" property="ctrid" jdbcType="INTEGER" />
    <result column="CTId" property="ctid" jdbcType="INTEGER" />
    <result column="CTRNum" property="ctrnum" jdbcType="INTEGER" />
    <result column="CTRMoveCP" property="ctrmovecp" jdbcType="INTEGER" />
    <result column="CTRMoveTime" property="ctrmovetime" jdbcType="DATE" />
    <result column="CTRCheckTIme" property="ctrchecktime" jdbcType="DATE" />
    <result column="CTRCheckNextTime" property="ctrchecknexttime" jdbcType="DATE" />
    <result column="CTRCheckContent" property="ctrcheckcontent" jdbcType="VARCHAR" />
    <result column="CTRCkeckValue" property="ctrckeckvalue" jdbcType="VARCHAR" />
    <result column="CTRCkeckTools" property="ctrckecktools" jdbcType="VARCHAR" />
    <result column="CTRCkeckResult" property="ctrckeckresult" jdbcType="INTEGER" />
    <result column="CTRAcceptResult" property="ctracceptresult" jdbcType="INTEGER" />
    <result column="CTRRemark" property="ctrremark" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    CTRId, CTId, CTRNum, CTRMoveCP, CTRMoveTime, CTRCheckTIme, CTRCheckNextTime, CTRCheckContent, 
    CTRCkeckValue, CTRCkeckTools, CTRCkeckResult, CTRAcceptResult, CTRRemark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkingtoolsrecord
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkingtoolsrecord
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.CheckingToolsRecord" >
    insert into checkingtoolsrecord (CTRId, CTId, CTRNum, 
      CTRMoveCP, CTRMoveTime, CTRCheckTIme, 
      CTRCheckNextTime, CTRCheckContent, CTRCkeckValue, 
      CTRCkeckTools, CTRCkeckResult, CTRAcceptResult, 
      CTRRemark)
    values (#{ctrid,jdbcType=INTEGER}, #{ctid,jdbcType=INTEGER}, #{ctrnum,jdbcType=INTEGER}, 
      #{ctrmovecp,jdbcType=INTEGER}, #{ctrmovetime,jdbcType=DATE}, #{ctrchecktime,jdbcType=DATE}, 
      #{ctrchecknexttime,jdbcType=DATE}, #{ctrcheckcontent,jdbcType=VARCHAR}, #{ctrckeckvalue,jdbcType=VARCHAR}, 
      #{ctrckecktools,jdbcType=VARCHAR}, #{ctrckeckresult,jdbcType=INTEGER}, #{ctracceptresult,jdbcType=INTEGER}, 
      #{ctrremark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.IVMS.model.CheckingToolsRecord" >
    insert into checkingtoolsrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctrid != null" >
        CTRId,
      </if>
      <if test="ctid != null" >
        CTId,
      </if>
      <if test="ctrnum != null" >
        CTRNum,
      </if>
      <if test="ctrmovecp != null" >
        CTRMoveCP,
      </if>
      <if test="ctrmovetime != null" >
        CTRMoveTime,
      </if>
      <if test="ctrchecktime != null" >
        CTRCheckTIme,
      </if>
      <if test="ctrchecknexttime != null" >
        CTRCheckNextTime,
      </if>
      <if test="ctrcheckcontent != null" >
        CTRCheckContent,
      </if>
      <if test="ctrckeckvalue != null" >
        CTRCkeckValue,
      </if>
      <if test="ctrckecktools != null" >
        CTRCkeckTools,
      </if>
      <if test="ctrckeckresult != null" >
        CTRCkeckResult,
      </if>
      <if test="ctracceptresult != null" >
        CTRAcceptResult,
      </if>
      <if test="ctrremark != null" >
        CTRRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctrid != null" >
        #{ctrid,jdbcType=INTEGER},
      </if>
      <if test="ctid != null" >
        #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctrnum != null" >
        #{ctrnum,jdbcType=INTEGER},
      </if>
      <if test="ctrmovecp != null" >
        #{ctrmovecp,jdbcType=INTEGER},
      </if>
      <if test="ctrmovetime != null" >
        #{ctrmovetime,jdbcType=DATE},
      </if>
      <if test="ctrchecktime != null" >
        #{ctrchecktime,jdbcType=DATE},
      </if>
      <if test="ctrchecknexttime != null" >
        #{ctrchecknexttime,jdbcType=DATE},
      </if>
      <if test="ctrcheckcontent != null" >
        #{ctrcheckcontent,jdbcType=VARCHAR},
      </if>
      <if test="ctrckeckvalue != null" >
        #{ctrckeckvalue,jdbcType=VARCHAR},
      </if>
      <if test="ctrckecktools != null" >
        #{ctrckecktools,jdbcType=VARCHAR},
      </if>
      <if test="ctrckeckresult != null" >
        #{ctrckeckresult,jdbcType=INTEGER},
      </if>
      <if test="ctracceptresult != null" >
        #{ctracceptresult,jdbcType=INTEGER},
      </if>
      <if test="ctrremark != null" >
        #{ctrremark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IVMS.model.CheckingToolsRecord" >
    update checkingtoolsrecord
    <set >
      <if test="ctid != null" >
        CTId = #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctrnum != null" >
        CTRNum = #{ctrnum,jdbcType=INTEGER},
      </if>
      <if test="ctrmovecp != null" >
        CTRMoveCP = #{ctrmovecp,jdbcType=INTEGER},
      </if>
      <if test="ctrmovetime != null" >
        CTRMoveTime = #{ctrmovetime,jdbcType=DATE},
      </if>
      <if test="ctrchecktime != null" >
        CTRCheckTIme = #{ctrchecktime,jdbcType=DATE},
      </if>
      <if test="ctrchecknexttime != null" >
        CTRCheckNextTime = #{ctrchecknexttime,jdbcType=DATE},
      </if>
      <if test="ctrcheckcontent != null" >
        CTRCheckContent = #{ctrcheckcontent,jdbcType=VARCHAR},
      </if>
      <if test="ctrckeckvalue != null" >
        CTRCkeckValue = #{ctrckeckvalue,jdbcType=VARCHAR},
      </if>
      <if test="ctrckecktools != null" >
        CTRCkeckTools = #{ctrckecktools,jdbcType=VARCHAR},
      </if>
      <if test="ctrckeckresult != null" >
        CTRCkeckResult = #{ctrckeckresult,jdbcType=INTEGER},
      </if>
      <if test="ctracceptresult != null" >
        CTRAcceptResult = #{ctracceptresult,jdbcType=INTEGER},
      </if>
      <if test="ctrremark != null" >
        CTRRemark = #{ctrremark,jdbcType=INTEGER},
      </if>
    </set>
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.CheckingToolsRecord" >
    update checkingtoolsrecord
    set CTId = #{ctid,jdbcType=INTEGER},
      CTRNum = #{ctrnum,jdbcType=INTEGER},
      CTRMoveCP = #{ctrmovecp,jdbcType=INTEGER},
      CTRMoveTime = #{ctrmovetime,jdbcType=DATE},
      CTRCheckTIme = #{ctrchecktime,jdbcType=DATE},
      CTRCheckNextTime = #{ctrchecknexttime,jdbcType=DATE},
      CTRCheckContent = #{ctrcheckcontent,jdbcType=VARCHAR},
      CTRCkeckValue = #{ctrckeckvalue,jdbcType=VARCHAR},
      CTRCkeckTools = #{ctrckecktools,jdbcType=VARCHAR},
      CTRCkeckResult = #{ctrckeckresult,jdbcType=INTEGER},
      CTRAcceptResult = #{ctracceptresult,jdbcType=INTEGER},
      CTRRemark = #{ctrremark,jdbcType=INTEGER}
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </update>
</mapper>