<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.CheckingToolsRecordDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.CheckingToolsRecord" >
    <id column="CTRId" property="ctrid" jdbcType="INTEGER" />
    <result column="CTId" property="ctid" jdbcType="INTEGER" />
    <result column="CTRNum" property="ctrnum" jdbcType="INTEGER" />
    <result column="CTRMoveCP" property="ctrmovecp" jdbcType="VARCHAR" />
    <result column="CTRMoveTime" property="ctrmovetime" jdbcType="DATE" />
    <result column="CTRCheckTIme" property="ctrchecktime" jdbcType="DATE" />
    <result column="CTRCheckNextTime" property="ctrchecknexttime" jdbcType="DATE" />
    <result column="CTRCheckContent" property="ctrcheckcontent" jdbcType="VARCHAR" />
    <result column="CTRCheckValue" property="ctrcheckvalue" jdbcType="VARCHAR" />
    <result column="CTRCheckTools" property="ctrchecktools" jdbcType="VARCHAR" />
    <result column="CTRCheckResult" property="ctrcheckresult" jdbcType="INTEGER" />
    <result column="CTRAcceptResult" property="ctracceptresult" jdbcType="INTEGER" />
    <result column="CTRRemark" property="ctrremark" jdbcType="INTEGER" />
    <result column="CTRCheckMan" property="ctrcheckman" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CTRId, CTId, CTRNum, CTRMoveCP, CTRMoveTime, CTRCheckTIme, CTRCheckNextTime, CTRCheckContent, 
    CTRCheckValue, CTRCheckTools, CTRCheckResult, CTRAcceptResult, CTRRemark,CTRCheckMan
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkingtoolsrecord
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkingtoolsrecord
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.CheckingToolsRecord" >
    insert into checkingtoolsrecord (CTRId, CTId, CTRNum, 
      CTRMoveCP, CTRMoveTime, CTRCheckTIme, 
      CTRCheckNextTime, CTRCheckContent, CTRCheckValue, 
      CTRCheckTools, CTRCheckResult, CTRAcceptResult, 
      CTRRemark,CTRCheckMan)
    values (#{ctrid,jdbcType=INTEGER}, #{ctid,jdbcType=INTEGER}, #{ctrnum,jdbcType=INTEGER}, 
      #{ctrmovecp,jdbcType=VARCHAR}, #{ctrmovetime,jdbcType=DATE}, #{ctrchecktime,jdbcType=DATE}, 
      #{ctrchecknexttime,jdbcType=DATE}, #{ctrcheckcontent,jdbcType=VARCHAR}, #{ctrcheckvalue,jdbcType=VARCHAR}, 
      #{ctrchecktools,jdbcType=VARCHAR}, #{ctrcheckresult,jdbcType=INTEGER}, #{ctracceptresult,jdbcType=INTEGER}, 
      #{ctrremark,jdbcType=INTEGER},#{ctrcheckman,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.IVMS.model.CheckingToolsRecord" >
    insert into checkingtoolsrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctrid != null" >
        CTRId,
      </if>
      <if test="ctid != null" >
        CTId,
      </if>
      <if test="ctrnum != null" >
        CTRNum,
      </if>
      <if test="ctrmovecp != null" >
        CTRMoveCP,
      </if>
      <if test="ctrmovetime != null" >
        CTRMoveTime,
      </if>
      <if test="ctrchecktime != null" >
        CTRCheckTIme,
      </if>
      <if test="ctrchecknexttime != null" >
        CTRCheckNextTime,
      </if>
      <if test="ctrcheckcontent != null" >
        CTRCheckContent,
      </if>
      <if test="ctrcheckvalue != null" >
        CTRCheckValue,
      </if>
      <if test="ctrchecktools != null" >
        CTRCheckTools,
      </if>
      <if test="ctrcheckresult != null" >
        CTRCheckResult,
      </if>
      <if test="ctracceptresult != null" >
        CTRAcceptResult,
      </if>
      <if test="ctrremark != null" >
        CTRRemark,
      </if>
      <if test="ctrcheckman != null" >
        CTRCheckMan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctrid != null" >
        #{ctrid,jdbcType=INTEGER},
      </if>
      <if test="ctid != null" >
        #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctrnum != null" >
        #{ctrnum,jdbcType=INTEGER},
      </if>
      <if test="ctrmovecp != null" >
        #{ctrmovecp,jdbcType=VARCHAR},
      </if>
      <if test="ctrmovetime != null" >
        #{ctrmovetime,jdbcType=DATE},
      </if>
      <if test="ctrchecktime != null" >
        #{ctrchecktime,jdbcType=DATE},
      </if>
      <if test="ctrchecknexttime != null" >
        #{ctrchecknexttime,jdbcType=DATE},
      </if>
      <if test="ctrcheckcontent != null" >
        #{ctrcheckcontent,jdbcType=VARCHAR},
      </if>
      <if test="ctrcheckvalue != null" >
        #{ctrcheckvalue,jdbcType=VARCHAR},
      </if>
      <if test="ctrchecktools != null" >
        #{ctrchecktools,jdbcType=VARCHAR},
      </if>
      <if test="ctrcheckresult != null" >
        #{ctrcheckresult,jdbcType=INTEGER},
      </if>
      <if test="ctracceptresult != null" >
        #{ctracceptresult,jdbcType=INTEGER},
      </if>
      <if test="ctrremark != null" >
        #{ctrremark,jdbcType=INTEGER},
      </if>
      <if test="ctrcheckman != null" >
        #{ctrcheckman,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IVMS.model.CheckingToolsRecord" >
    update checkingtoolsrecord
    <set >
      <if test="ctid != null" >
        CTId = #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctrnum != null" >
        CTRNum = #{ctrnum,jdbcType=INTEGER},
      </if>
      <if test="ctrmovecp != null" >
        CTRMoveCP = #{ctrmovecp,jdbcType=VARCHAR},
      </if>
      <if test="ctrmovetime != null" >
        CTRMoveTime = #{ctrmovetime,jdbcType=DATE},
      </if>
      <if test="ctrchecktime != null" >
        CTRCheckTIme = #{ctrchecktime,jdbcType=DATE},
      </if>
      <if test="ctrchecknexttime != null" >
        CTRCheckNextTime = #{ctrchecknexttime,jdbcType=DATE},
      </if>
      <if test="ctrcheckcontent != null" >
        CTRCheckContent = #{ctrcheckcontent,jdbcType=VARCHAR},
      </if>
      <if test="ctrcheckvalue != null" >
        CTRCheckValue = #{ctrcheckvalue,jdbcType=VARCHAR},
      </if>
      <if test="ctrchecktools != null" >
        CTRCheckTools = #{ctrchecktools,jdbcType=VARCHAR},
      </if>
      <if test="ctrcheckresult != null" >
        CTRCheckResult = #{ctrcheckresult,jdbcType=INTEGER},
      </if>
      <if test="ctracceptresult != null" >
        CTRAcceptResult = #{ctracceptresult,jdbcType=INTEGER},
      </if>
      <if test="ctrremark != null" >
        CTRRemark = #{ctrremark,jdbcType=INTEGER},
      </if>
      <if test="ctrcheckman != null" >
        CTRCheckman = #{ctrcheckman,jdbcType=VARCHAR},
      </if>
    </set>
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.CheckingToolsRecord" >
    update checkingtoolsrecord
    set CTId = #{ctid,jdbcType=INTEGER},
      CTRNum = #{ctrnum,jdbcType=INTEGER},
      CTRMoveCP = #{ctrmovecp,jdbcType=VARCHAR},
      CTRMoveTime = #{ctrmovetime,jdbcType=DATE},
      CTRCheckTIme = #{ctrchecktime,jdbcType=DATE},
      CTRCheckNextTime = #{ctrchecknexttime,jdbcType=DATE},
      CTRCheckContent = #{ctrcheckcontent,jdbcType=VARCHAR},
      CTRCheckValue = #{ctrcheckvalue,jdbcType=VARCHAR},
      CTRCheckTools = #{ctrchecktools,jdbcType=VARCHAR},
      CTRCheckResult = #{ctrcheckresult,jdbcType=INTEGER},
      CTRAcceptResult = #{ctracceptresult,jdbcType=INTEGER},
      CTRRemark = #{ctrremark,jdbcType=INTEGER}
      CTRCheckman = #{ctrcheckman,jdbcType=VARCHAR}
    where CTRId = #{ctrid,jdbcType=INTEGER}
  </update>
</mapper>