<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.CheckingFormDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.CheckingForm" >
    <id column="CFId" property="cfid" jdbcType="VARCHAR" />
    <result column="LId" property="lid" jdbcType="INTEGER" />
    <result column="CId" property="cid" jdbcType="INTEGER" />
    <result column="PId" property="pid" jdbcType="INTEGER" />
    <result column="WId" property="wid" jdbcType="VARCHAR" />
    <result column="ClaId" property="claid" jdbcType="INTEGER" />
    <result column="CCId" property="ccid" jdbcType="INTEGER" />
    <result column="CFMoveP" property="cfmovep" jdbcType="VARCHAR" />
    <result column="CFPhoneNum" property="cfphonenum" jdbcType="VARCHAR" />
    <result column="CFEMail" property="cfemail" jdbcType="VARCHAR" />
    <result column="CFComponentName" property="cfcomponentname" jdbcType="VARCHAR" />
    <result column="CFComponentId" property="cfcomponentid" jdbcType="VARCHAR" />
    <result column="CFComponentNum" property="cfcomponentnum" jdbcType="INTEGER" />
    <result column="CFCheckNum" property="cfchecknum" jdbcType="INTEGER" />
    <result column="CFRemark" property="cfremark" jdbcType="VARCHAR" />
    <result column="CFStatus" property="cfstatus" jdbcType="INTEGER" />
    <result column="CFUrgentStatus" property="cfurgentstatus" jdbcType="INTEGER" />
    <result column="CFRemarkFile" property="cfremarkfile" jdbcType="VARCHAR" />
    <result column="CFReportFile" property="cfreportfile" jdbcType="VARCHAR" />
    <result column="CFTime" property="cftime" jdbcType="TIMESTAMP" />
    <result column="CFReply" property="cfreply" jdbcType="VARCHAR" />
    <result column="CFReplyReport" property="cfreplyreport" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="BaseResultMap1" type="com.IVMS.model.CheckingFormCustom" >
    <id column="CFId" property="cfid" jdbcType="VARCHAR" />
    <result column="LId" property="lid" jdbcType="INTEGER" />
    <result column="CId" property="cid" jdbcType="INTEGER" />
    <result column="PId" property="pid" jdbcType="INTEGER" />
    <result column="WId" property="wid" jdbcType="VARCHAR" />
    <result column="ClaId" property="claid" jdbcType="INTEGER" />
    <result column="CCId" property="ccid" jdbcType="INTEGER" />
    <result column="CFMoveP" property="cfmovep" jdbcType="VARCHAR" />
    <result column="CFPhoneNum" property="cfphonenum" jdbcType="VARCHAR" />
    <result column="CFEMail" property="cfemail" jdbcType="VARCHAR" />
    <result column="CFComponentName" property="cfcomponentname" jdbcType="VARCHAR" />
    <result column="CFComponentId" property="cfcomponentid" jdbcType="VARCHAR" />
    <result column="CFComponentNum" property="cfcomponentnum" jdbcType="INTEGER" />
    <result column="CFCheckNum" property="cfchecknum" jdbcType="INTEGER" />
    <result column="CFRemark" property="cfremark" jdbcType="VARCHAR" />
    <result column="CFStatus" property="cfstatus" jdbcType="INTEGER" />
    <result column="CFUrgentStatus" property="cfurgentstatus" jdbcType="INTEGER" />
    <result column="CFRemarkFile" property="cfremarkfile" jdbcType="VARCHAR" />
    <result column="CFReportFile" property="cfreportfile" jdbcType="VARCHAR" />
    <result column="CFTime" property="cftime" jdbcType="TIMESTAMP" />
    <result column="CFReply" property="cfreply" jdbcType="VARCHAR" />
    <result column="CFReplyReport" property="cfreplyreport" jdbcType="VARCHAR" />
    <result column="CName" property="cname" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 送检详情resultmap -->
  <resultMap id="mysendcheckdetailsMap" type="com.IVMS.model.CheckingForm" >
    <id column="CFId" property="cfid" jdbcType="VARCHAR" />
    <result column="CFMoveP" property="cfmovep" jdbcType="VARCHAR" />
    <result column="CFPhoneNum" property="cfphonenum" jdbcType="VARCHAR" />
    <result column="CFEMail" property="cfemail" jdbcType="VARCHAR" />
    <result column="CFComponentName" property="cfcomponentname" jdbcType="VARCHAR" />
    <result column="CFComponentId" property="cfcomponentid" jdbcType="VARCHAR" />
    <result column="CFComponentNum" property="cfcomponentnum" jdbcType="INTEGER" />
    <result column="CFCheckNum" property="cfchecknum" jdbcType="INTEGER" />
    <result column="CFRemark" property="cfremark" jdbcType="VARCHAR" />
    <result column="CFStatus" property="cfstatus" jdbcType="INTEGER" />
    <result column="CFUrgentStatus" property="cfurgentstatus" jdbcType="INTEGER" />
    <result column="CFReportFile" property="cfreportfile" jdbcType="VARCHAR" />
    <result column="CFTime" property="cftime" jdbcType="TIMESTAMP" />
    <result column="CFReply" property="cfreply" jdbcType="VARCHAR" />
    <result column="CFReplyReport" property="cfreplyreport" jdbcType="VARCHAR" />
    <association property="line" javaType="com.IVMS.model.Line">
    <id property="lid" column="LId"/>
    <result property="lname" column="LName"/>
    </association>
    <association property="cell" javaType="com.IVMS.model.Cell">
    <id property="cid" column="CId"/>
    <result property="cname" column="CName"/>
    <result property="lid" column="LId"/>
    </association>
    <association property="project" javaType="com.IVMS.model.Project">
    <id property="pid" column="PId"/>
    <result property="pname" column="PName"/>
    </association>
    <association property="classify" javaType="com.IVMS.model.Classify">
    <id property="claid" column="ClaId"/>
    <result property="cname" column="CName"/>
    </association>
    <association property="checkingClassify" javaType="com.IVMS.model.CheckingClassify">
    <id property="ccid" column="CCId"/>
    <result property="claid" column="ClaId"/>
    <result property="ccname" column="CCName"/>
    </association>
    <association property="warehouse" javaType="com.IVMS.model.Warehouse">
    <id property="wid" column="WId"/>
    <result property="claid" column="ClaId"/>
    <result property="wstatus" column="WStatus"/>
    </association>
    <association property="urgentFile" javaType="com.IVMS.model.UrgentFile">
    <id property="ufid" column="UFId"/>
    <result property="cfid" column="CFId"/>
    <result property="ufname" column="UFName"/>
    </association>
    <collection property="notifyPersonnelEmail" ofType="com.IVMS.model.NotifyPersonnelEmail">
	<id property="npeid" column="NPEId"/>
	<result property="cfid" column="CFId"/>
	<result property="npenotifyemail" column="NPENotifyEmail"/>
	<result property="npenotifytime" column="NPENotifyTime"/>
    </collection>
    
  </resultMap>
  <sql id="Base_Column_List" >
    CFId, LId, CId, PId, WId, ClaId, CCId, CFMoveP, CFPhoneNum, CFEMail, CFComponentName, 
    CFComponentId, CFComponentNum, CFCheckNum, CFRemark, CFStatus, CFUrgentStatus, CFRemarkFile, 
    CFReportFile,CFTime,CFReply,CFReplyReport
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checkingform
    where CFId = #{cfid,jdbcType=VARCHAR}
  </select>
  <select id="selectWidAndUrgentStatusByCfid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select WId,CFUrgentStatus
    from checkingform
    where CFId = #{cfid,jdbcType=VARCHAR}
  </select>
  <select id="mySendCheckDetails" resultMap="mysendcheckdetailsMap">
 SELECT 
 cf.CFId,cf.CFMoveP,cf.CFPhoneNum,cf.CFEMail,cf.CFComponentName,cf.CFComponentId,cf.CFComponentNum,
 cf.CFCheckNum,cf.CFRemark,cf.CFStatus,cf.CFUrgentStatus,cf.CFReportFile,cf.CFTime,cf.CFReply,
 cf.CFReplyReport,LName,c.CName CName,PName,cla.CName ClaName,cc.CCName CCName,
 npe.NPENotifyEmail
 <if test='isHaveWareHouse!="0"'>
  ,wh.WId,WStatus
 </if>
 <if test="urgentStatus!= 1">
  ,ur.UFName UFName
 </if>
 FROM 
 checkingform cf,line l,cell c,project p,classify cla,checkingclassify cc,
 notifypersonnelemail npe
 <if test='isHaveWareHouse!="0"'>
  ,warehouse wh
 </if>
 <if test="urgentStatus!= 1">
  ,urgentfile ur
 </if>
 WHERE 
 cf.LId=l.LId AND cf.CFId=#{cfid,jdbcType=VARCHAR} AND cf.CFId=npe.CFId AND c.CId=cf.CId AND p.PId=cf.PId 
 AND cla.ClaId=cf.ClaId AND cc.CCId=cf.CCId
 <if test='isHaveWareHouse!="0"'>
 AND wh.WId=cf.WId 
 </if>
 <if test="urgentStatus!= 1">
 AND ur.CFId=cf.CFId 
 </if> 
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap1">
   SELECT CFId,CFTime,CName,CFComponentId,CFComponentName,CFStatus
   FROM checkingform cf,classify cla
   WHERE cf.ClaId=cla.ClaId AND CFMoveP=#{CFMoveP,jdbcType=VARCHAR} 
   <if test="ClaId != null" >
         AND cf.ClaId=#{ClaId,jdbcType=INTEGER}
   </if>
   <if test="Pid != null" >
         AND Pid=#{Pid,jdbcType=INTEGER}
   </if>
   <if test='CFId !=null ' >
          AND CFId LIKE '${CFId}%'
   </if>
   ORDER BY CFTime DESC 
   LIMIT #{startRow,jdbcType=INTEGER},#{numberOfPerPage,jdbcType=INTEGER};
  </select>
   <select id="countMySendCheck" resultType="java.lang.Integer">
   SELECT COUNT(*)
   FROM checkingform cf,classify cla
   WHERE cf.ClaId=cla.ClaId AND CFMoveP=#{CFMoveP,jdbcType=VARCHAR}
   <if test="ClaId != null" >
         AND cf.ClaId=#{ClaId,jdbcType=INTEGER}
   </if>
   <if test="Pid != null" >
         AND Pid=#{Pid,jdbcType=INTEGER}
   </if>
   <if test='CFId !=null ' >
         AND CFId LIKE '${CFId}%'
   </if>
  </select>
  <select id="selectMaxCfid" resultType="java.lang.String" parameterType="java.lang.String" >
    SELECT MAX(CFId) FROM checkingform WHERE CFId LIKE '${value}';
  </select>
  <delete id="deleteCheckingFormByPrimaryKey" parameterType="java.lang.String" >
    delete from checkingform
    where CFId = #{cfid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.CheckingForm" >
    insert into checkingform (CFId, LId, CId, 
      PId, WId, ClaId, CCId, 
      CFMoveP, CFPhoneNum, CFEMail, 
      CFComponentName, CFComponentId, CFComponentNum, 
      CFCheckNum, CFRemark, CFStatus, 
      CFUrgentStatus, CFRemarkFile, CFReportFile,CFTime,CFReply,CFReplyReport
      )
    values (#{cfid,jdbcType=VARCHAR}, #{lid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER}, #{wid,jdbcType=VARCHAR}, #{claid,jdbcType=INTEGER}, #{ccid,jdbcType=INTEGER}, 
      #{cfmovep,jdbcType=VARCHAR}, #{cfphonenum,jdbcType=VARCHAR}, #{cfemail,jdbcType=VARCHAR}, 
      #{cfcomponentname,jdbcType=VARCHAR}, #{cfcomponentid,jdbcType=VARCHAR}, #{cfcomponentnum,jdbcType=INTEGER}, 
      #{cfchecknum,jdbcType=INTEGER}, #{cfremark,jdbcType=VARCHAR}, #{cfstatus,jdbcType=INTEGER}, 
      #{cfurgentstatus,jdbcType=INTEGER}, #{cfremarkfile,jdbcType=VARCHAR}, #{cfreportfile,jdbcType=VARCHAR},
      #{cftime,jdbcType=TIMESTAMP},#{cfreply,jdbcType=VARCHAR},#{cfreplyreport,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertCheckingForm" parameterType="com.IVMS.model.CheckingForm" >
    insert into checkingform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfid != null" >
        CFId,
      </if>
      <if test="lid != null" >
        LId,
      </if>
      <if test="cid != null" >
        CId,
      </if>
      <if test="pid != null" >
        PId,
      </if>
      <if test="wid != null" >
        WId,
      </if>
      <if test="claid != null" >
        ClaId,
      </if>
      <if test="ccid != null" >
        CCId,
      </if>
      <if test="cfmovep != null" >
        CFMoveP,
      </if>
      <if test="cfphonenum != null" >
        CFPhoneNum,
      </if>
      <if test="cfemail != null" >
        CFEMail,
      </if>
      <if test="cfcomponentname != null" >
        CFComponentName,
      </if>
      <if test="cfcomponentid != null" >
        CFComponentId,
      </if>
      <if test="cfcomponentnum != null" >
        CFComponentNum,
      </if>
      <if test="cfchecknum != null" >
        CFCheckNum,
      </if>
      <if test="cfremark != null" >
        CFRemark,
      </if>
      <if test="cfstatus != null" >
        CFStatus,
      </if>
      <if test="cfurgentstatus != null" >
        CFUrgentStatus,
      </if>
      <if test="cfremarkfile != null" >
        CFRemarkFile,
      </if>
      <if test="cfreportfile != null" >
        CFReportFile,
      </if>
      <if test="cftime != null" >
        CFTime,
      </if>
      <if test="cfreply != null" >
        CFReply,
      </if>
      <if test="cfreplyreport != null" >
        CFReplyReport,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfid != null" >
        #{cfid,jdbcType=VARCHAR},
      </if>
      <if test="lid != null" >
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="claid != null" >
        #{claid,jdbcType=INTEGER},
      </if>
      <if test="ccid != null" >
        #{ccid,jdbcType=INTEGER},
      </if>
      <if test="cfmovep != null" >
        #{cfmovep,jdbcType=VARCHAR},
      </if>
      <if test="cfphonenum != null" >
        #{cfphonenum,jdbcType=VARCHAR},
      </if>
      <if test="cfemail != null" >
        #{cfemail,jdbcType=VARCHAR},
      </if>
      <if test="cfcomponentname != null" >
        #{cfcomponentname,jdbcType=VARCHAR},
      </if>
      <if test="cfcomponentid != null" >
        #{cfcomponentid,jdbcType=VARCHAR},
      </if>
      <if test="cfcomponentnum != null" >
        #{cfcomponentnum,jdbcType=INTEGER},
      </if>
      <if test="cfchecknum != null" >
        #{cfchecknum,jdbcType=INTEGER},
      </if>
      <if test="cfremark != null" >
        #{cfremark,jdbcType=VARCHAR},
      </if>
      <if test="cfstatus != null" >
        #{cfstatus,jdbcType=INTEGER},
      </if>
      <if test="cfurgentstatus != null" >
        #{cfurgentstatus,jdbcType=INTEGER},
      </if>
      <if test="cfremarkfile != null" >
        #{cfremarkfile,jdbcType=VARCHAR},
      </if>
      <if test="cfreportfile != null" >
        #{cfreportfile,jdbcType=VARCHAR},
      </if>
      <if test="cftime != null" >
        #{cftime,jdbcType=TIMESTAMP},
      </if>
      <if test="cfreply != null" >
        #{cfreply,jdbcType=VARCHAR},
      </if>
      <if test="cfreplyreport != null" >
        #{cfreplyreport,jdbcType=VARCHAR},
      </if>
  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IVMS.model.CheckingForm" >
    update checkingform
    <set >
      <if test="lid != null" >
        LId = #{lid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        CId = #{cid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        PId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="wid != null" >
        WId = #{wid,jdbcType=VARCHAR},
      </if>
      <if test="claid != null" >
        ClaId = #{claid,jdbcType=INTEGER},
      </if>
      <if test="ccid != null" >
        CCId = #{ccid,jdbcType=INTEGER},
      </if>
      <if test="cfmovep != null" >
        CFMoveP = #{cfmovep,jdbcType=VARCHAR},
      </if>
      <if test="cfphonenum != null" >
        CFPhoneNum = #{cfphonenum,jdbcType=VARCHAR},
      </if>
      <if test="cfemail != null" >
        CFEMail = #{cfemail,jdbcType=VARCHAR},
      </if>
      <if test="cfcomponentname != null" >
        CFComponentName = #{cfcomponentname,jdbcType=VARCHAR},
      </if>
      <if test="cfcomponentid != null" >
        CFComponentId = #{cfcomponentid,jdbcType=VARCHAR},
      </if>
      <if test="cfcomponentnum != null" >
        CFComponentNum = #{cfcomponentnum,jdbcType=INTEGER},
      </if>
      <if test="cfchecknum != null" >
        CFCheckNum = #{cfchecknum,jdbcType=INTEGER},
      </if>
      <if test="cfremark != null" >
        CFRemark = #{cfremark,jdbcType=VARCHAR},
      </if>
      <if test="cfstatus != null" >
        CFStatus = #{cfstatus,jdbcType=INTEGER},
      </if>
      <if test="cfurgentstatus != null" >
        CFUrgentStatus = #{cfurgentstatus,jdbcType=INTEGER},
      </if>
      <if test="cfremarkfile != null" >
        CFRemarkFile = #{cfremarkfile,jdbcType=VARCHAR},
      </if>
      <if test="cfreportfile != null" >
        CFReportFile = #{cfreportfile,jdbcType=VARCHAR},
      </if>
      <if test="cftime != null" >
        CFTime = #{cftime,jdbcType=TIMESTAMP},
      </if>
      <if test="cfreply != null" >
        CFReply = #{cfreply,jdbcType=VARCHAR},
      </if>
      <if test="cfreplyreport != null" >
        CFReplyreport = #{cfreplyreport,jdbcType=VARCHAR},
      </if>
      
    </set>
    where CFId = #{cfid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.CheckingForm" >
    update checkingform
    set LId = #{lid,jdbcType=INTEGER},
      CId = #{cid,jdbcType=INTEGER},
      PId = #{pid,jdbcType=INTEGER},
      WId = #{wid,jdbcType=VARCHAR},
      ClaId = #{claid,jdbcType=INTEGER},
      CCId = #{ccid,jdbcType=INTEGER},
      CFMoveP = #{cfmovep,jdbcType=VARCHAR},
      CFPhoneNum = #{cfphonenum,jdbcType=VARCHAR},
      CFEMail = #{cfemail,jdbcType=VARCHAR},
      CFComponentName = #{cfcomponentname,jdbcType=VARCHAR},
      CFComponentId = #{cfcomponentid,jdbcType=VARCHAR},
      CFComponentNum = #{cfcomponentnum,jdbcType=INTEGER},
      CFCheckNum = #{cfchecknum,jdbcType=INTEGER},
      CFRemark = #{cfremark,jdbcType=VARCHAR},
      CFStatus = #{cfstatus,jdbcType=INTEGER},
      CFUrgentStatus = #{cfurgentstatus,jdbcType=INTEGER},
      CFRemarkFile = #{cfremarkfile,jdbcType=VARCHAR},
      CFReportFile = #{cfreportfile,jdbcType=VARCHAR}
      CFTime = #{cftime,jdbcType=TIMESTAMP}
      CFReply=#{cfreply,jdbcType=VARCHAR}
      CFReplyreport=#{cfreplyreport,jdbcType=VARCHAR}
    where CFId = #{cfid,jdbcType=VARCHAR}
  </update>
</mapper>