<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.CheckingToolsDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.CheckingTools" >
    <id column="CTId" property="ctid" jdbcType="INTEGER" />
    <result column="CTUseItem" property="ctuseitem" jdbcType="VARCHAR" />
    <result column="CTCheckProgram" property="ctcheckprogram" jdbcType="VARCHAR" />
    <result column="CTName" property="ctname" jdbcType="VARCHAR" />
    <result column="CTProducer" property="ctproducer" jdbcType="VARCHAR" />
    <result column="CTProductionNum" property="ctproductionnum" jdbcType="VARCHAR" />
    <result column="CTNorms" property="ctnorms" jdbcType="VARCHAR" />
    <result column="CTProcision" property="ctprocision" jdbcType="VARCHAR" />
    <result column="CTResolation" property="ctresolation" jdbcType="VARCHAR" />
    <result column="CTAssetNum" property="ctassetnum" jdbcType="VARCHAR" />
    <result column="CTUseLine" property="ctuseline" jdbcType="VARCHAR" />
    <result column="CTUseStation" property="ctusestation" jdbcType="VARCHAR" />
    <result column="CTUseTime" property="ctusetime" jdbcType="DATE" />
    <result column="CTCheckWay" property="ctcheckway" jdbcType="INTEGER" />
    <result column="CTCheckCycle" property="ctcheckcycle" jdbcType="INTEGER" />
    <result column="CTMSA" property="ctmsa" jdbcType="INTEGER" />
    <result column="CTOriginalNum" property="ctoriginalnum" jdbcType="VARCHAR" />
    <result column="CTSize" property="ctsize" jdbcType="INTEGER" />
    <result column="CTCheckTemperature" property="ctchecktemperature" jdbcType="VARCHAR" />
    <result column="CTCheckHumidiry" property="ctcheckhumidiry" jdbcType="VARCHAR" />
    <result column="CTReceiver" property="ctreceiver" jdbcType="VARCHAR" />
    <result column="CTRemark" property="ctremark" jdbcType="VARCHAR" />
    <result column="CTStatus" property="ctstatus" jdbcType="INTEGER" />
    <!-- 我的检具详情resultmap -->
  </resultMap>
    <resultMap id="mycheckingtoolsdetailsMap" type="com.IVMS.model.CheckingTools"
    extends="BaseResultMap" >
    <collection property="checkingToolsRecord" ofType="com.IVMS.model.CheckingToolsRecord">
    <id column="CTRId" property="ctrid" jdbcType="INTEGER" />
    <result column="CTId" property="ctid" jdbcType="INTEGER" />
    <result column="CTRNum" property="ctrnum" jdbcType="INTEGER" />
    <result column="CTRMoveCP" property="ctrmovecp" jdbcType="VARCHAR" />
    <result column="CTRMoveTime" property="ctrmovetime" jdbcType="DATE" />
    <result column="CTRCheckTIme" property="ctrchecktime" jdbcType="DATE" />
    <result column="CTRCheckNextTime" property="ctrchecknexttime" jdbcType="DATE" />
    <result column="CTRCheckContent" property="ctrcheckcontent" jdbcType="VARCHAR" />
    <result column="CTRCheckValue" property="ctrcheckvalue" jdbcType="VARCHAR" />
    <result column="CTRCheckTools" property="ctrchecktools" jdbcType="VARCHAR" />
    <result column="CTRCheckResult" property="ctrcheckresult" jdbcType="INTEGER" />
    <result column="CTRAcceptResult" property="ctracceptresult" jdbcType="INTEGER" />
    <result column="CTRRemark" property="ctrremark" jdbcType="INTEGER" />
    <result column="CTRCheckMan" property="ctrcheckman" jdbcType="VARCHAR" />
    <collection property="checkingToolsFile" ofType="com.IVMS.model.CheckingToolsFile">
	<id column="CTFId" property="ctfid" jdbcType="INTEGER" />
    <result column="CTId" property="ctid" jdbcType="INTEGER" />
    <result column="CTFName" property="ctfname" jdbcType="VARCHAR" />
    </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    CTId, CTUseItem, CTCheckProgram, CTName, CTProducer, CTProductionNum, CTNorms, CTProcision, 
    CTResolation, CTAssetNum, CTUseLine, CTUseStation, CTUseTime, CTCheckWay, CTCheckCycle, 
    CTMSA, CTOriginalNum, CTSize, CTCheckTemperature, CTCheckHumidiry,CTReceiver,CTRemark,CTStatus
  </sql>
  <select id="selectCheckingToolByCtid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkingtools
    where CTId = #{ctid,jdbcType=INTEGER}
  </select>
  <select id="selectCheckingToolCycleByCtid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
   SELECT CTCheckCycle FROM checkingtools 
   WHERE CTId=(SELECT CTId FROM checkingtoolsrecord WHERE CTRId=#{ctrid,jdbcType=INTEGER});
  </select>
  <select id="selectCycleByCtid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
   SELECT CTCheckCycle FROM checkingtools 
   WHERE CTId=#{ctid,jdbcType=INTEGER};
  </select>
  <select id="myCheckingToolsDetails" resultType="hashmap" >
    SELECT 
	ct.*,ctr.CTRCheckNextTime
	FROM 
	checkingtools ct
	LEFT JOIN checkingtoolsrecord  ctr ON ct.CTId=ctr.CTId 
	WHERE ct.CTId=#{ctid,jdbcType=INTEGER}
	ORDER BY CTRCheckNextTime DESC LIMIT 1;
  </select>
  <select id="selectByReceiver" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checkingtools
    where CTReceiver = #{CTReceiver,jdbcType=VARCHAR} ORDER BY CTUseTime DESC;
  </select>
  <select id="judgeCtidIsAlreadyExist" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  SELECT * FROM checkingtools WHERE CTId=#{ctid,jdbcType=INTEGER};
  </select>
  <select id="checkingToolsInfo" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    FROM checkingtools 
    <where>
      <if test='CTUseItem != "0"' >
      and CTUseItem=#{CTUseItem,jdbcType=VARCHAR}
      </if>
      <if test="CTStatus != null" >
      and CTStatus=#{CTStatus,jdbcType=INTEGER}
      </if>
    </where>
    LIMIT #{startRow,jdbcType=INTEGER},#{numberOfPerPage,jdbcType=INTEGER};
  </select>
  <select id="countCheckingToolsInfo" resultType="java.lang.Integer" >
    select count(*) FROM checkingtools 
    <where>
      <if test='CTUseItem != "0"' >
      and CTUseItem=#{CTUseItem,jdbcType=VARCHAR}
      </if>
      <if test="CTStatus != null" >
      and CTStatus=#{CTStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <delete id="deleteCheckingToolsByCtidAndCtStatus" parameterType="java.lang.Integer" >
  DELETE FROM checkingtools 
  WHERE CTStatus=0 AND CTId=#{CTId,jdbcType=INTEGER};
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.CheckingTools" >
    insert into checkingtools (CTId, CTUseItem, CTCheckProgram, 
      CTName, CTProducer, CTProductionNum, 
      CTNorms, CTProcision, CTResolation, 
      CTAssetNum, CTUseLine, CTUseStation, 
      CTUseTime, CTCheckWay, CTCheckCycle, 
      CTMSA, CTOriginalNum, CTSize, 
      CTCheckTemperature, CTCheckHumidiry, CTReceiver,CTRemark,CTStatus)
    values (#{ctid,jdbcType=INTEGER}, #{ctuseitem,jdbcType=VARCHAR}, #{ctcheckprogram,jdbcType=VARCHAR}, 
      #{ctname,jdbcType=VARCHAR}, #{ctproducer,jdbcType=VARCHAR}, #{ctproductionnum,jdbcType=VARCHAR}, 
      #{ctnorms,jdbcType=VARCHAR}, #{ctprocision,jdbcType=VARCHAR}, #{ctresolation,jdbcType=VARCHAR}, 
      #{ctassetnum,jdbcType=VARCHAR}, #{ctuseline,jdbcType=VARCHAR}, #{ctusestation,jdbcType=VARCHAR}, 
      #{ctusetime,jdbcType=DATE}, #{ctcheckway,jdbcType=INTEGER}, #{ctcheckcycle,jdbcType=INTEGER}, 
      #{ctmsa,jdbcType=INTEGER}, #{ctoriginalnum,jdbcType=VARCHAR}, #{ctsize,jdbcType=INTEGER}, 
      #{ctchecktemperature,jdbcType=VARCHAR}, #{ctcheckhumidiry,jdbcType=VARCHAR}, #{ctreceiver,jdbcType=VARCHAR},
      #{ctremark,jdbcType=VARCHAR},#{ctstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertCheckingTools" parameterType="com.IVMS.model.CheckingTools" >
    insert into checkingtools
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctid != null" >
        CTId,
      </if>
      <if test="ctuseitem != null" >
        CTUseItem,
      </if>
      <if test="ctcheckprogram != null" >
        CTCheckProgram,
      </if>
      <if test="ctname != null" >
        CTName,
      </if>
      <if test="ctproducer != null" >
        CTProducer,
      </if>
      <if test="ctproductionnum != null" >
        CTProductionNum,
      </if>
      <if test="ctnorms != null" >
        CTNorms,
      </if>
      <if test="ctprocision != null" >
        CTProcision,
      </if>
      <if test="ctresolation != null" >
        CTResolation,
      </if>
      <if test="ctassetnum != null" >
        CTAssetNum,
      </if>
      <if test="ctuseline != null" >
        CTUseLine,
      </if>
      <if test="ctusestation != null" >
        CTUseStation,
      </if>
      <if test="ctusetime != null" >
        CTUseTime,
      </if>
      <if test="ctcheckway != null" >
        CTCheckWay,
      </if>
      <if test="ctcheckcycle != null" >
        CTCheckCycle,
      </if>
      <if test="ctmsa != null" >
        CTMSA,
      </if>
      <if test="ctoriginalnum != null" >
        CTOriginalNum,
      </if>
      <if test="ctsize != null" >
        CTSize,
      </if>
      <if test="ctchecktemperature != null" >
        CTCheckTemperature,
      </if>
      <if test="ctcheckhumidiry != null" >
        CTCheckHumidiry,
      </if>
      <if test="ctreceiver != null" >
        CTReceiver,
      </if>
      <if test="ctremark != null" >
        CTRemark,
      </if>
      <if test="ctstatus != null" >
        CTStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctid != null" >
        #{ctid,jdbcType=INTEGER},
      </if>
      <if test="ctuseitem != null" >
        #{ctuseitem,jdbcType=VARCHAR},
      </if>
      <if test="ctcheckprogram != null" >
        #{ctcheckprogram,jdbcType=VARCHAR},
      </if>
      <if test="ctname != null" >
        #{ctname,jdbcType=VARCHAR},
      </if>
      <if test="ctproducer != null" >
        #{ctproducer,jdbcType=VARCHAR},
      </if>
      <if test="ctproductionnum != null" >
        #{ctproductionnum,jdbcType=VARCHAR},
      </if>
      <if test="ctnorms != null" >
        #{ctnorms,jdbcType=VARCHAR},
      </if>
      <if test="ctprocision != null" >
        #{ctprocision,jdbcType=VARCHAR},
      </if>
      <if test="ctresolation != null" >
        #{ctresolation,jdbcType=VARCHAR},
      </if>
      <if test="ctassetnum != null" >
        #{ctassetnum,jdbcType=VARCHAR},
      </if>
      <if test="ctuseline != null" >
        #{ctuseline,jdbcType=VARCHAR},
      </if>
      <if test="ctusestation != null" >
        #{ctusestation,jdbcType=VARCHAR},
      </if>
      <if test="ctusetime != null" >
        #{ctusetime,jdbcType=DATE},
      </if>
      <if test="ctcheckway != null" >
        #{ctcheckway,jdbcType=INTEGER},
      </if>
      <if test="ctcheckcycle != null" >
        #{ctcheckcycle,jdbcType=INTEGER},
      </if>
      <if test="ctmsa != null" >
        #{ctmsa,jdbcType=INTEGER},
      </if>
      <if test="ctoriginalnum != null" >
        #{ctoriginalnum,jdbcType=VARCHAR},
      </if>
      <if test="ctsize != null" >
        #{ctsize,jdbcType=INTEGER},
      </if>
      <if test="ctchecktemperature != null" >
        #{ctchecktemperature,jdbcType=VARCHAR},
      </if>
      <if test="ctcheckhumidiry != null" >
        #{ctcheckhumidiry,jdbcType=VARCHAR},
      </if>
      <if test="ctreceiver != null" >
        #{ctreceiver,jdbcType=VARCHAR},
      </if>
      <if test="ctremark != null" >
        #{ctremark,jdbcType=VARCHAR},
      </if>
      <if test="ctstatus != null" >
        #{ctstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateCheckingToolByCtid" parameterType="com.IVMS.model.CheckingTools" >
    update checkingtools
    <set >
      <if test="ctuseitem != null" >
        CTUseItem = #{ctuseitem,jdbcType=VARCHAR},
      </if>
      <if test="ctcheckprogram != null" >
        CTCheckProgram = #{ctcheckprogram,jdbcType=VARCHAR},
      </if>
      <if test="ctname != null" >
        CTName = #{ctname,jdbcType=VARCHAR},
      </if>
      <if test="ctproducer != null" >
        CTProducer = #{ctproducer,jdbcType=VARCHAR},
      </if>
      <if test="ctproductionnum != null" >
        CTProductionNum = #{ctproductionnum,jdbcType=VARCHAR},
      </if>
      <if test="ctnorms != null" >
        CTNorms = #{ctnorms,jdbcType=VARCHAR},
      </if>
      <if test="ctprocision != null" >
        CTProcision = #{ctprocision,jdbcType=VARCHAR},
      </if>
      <if test="ctresolation != null" >
        CTResolation = #{ctresolation,jdbcType=VARCHAR},
      </if>
      <if test="ctassetnum != null" >
        CTAssetNum = #{ctassetnum,jdbcType=VARCHAR},
      </if>
      <if test="ctuseline != null" >
        CTUseLine = #{ctuseline,jdbcType=VARCHAR},
      </if>
      <if test="ctusestation != null" >
        CTUseStation = #{ctusestation,jdbcType=VARCHAR},
      </if>
      <if test="ctusetime != null" >
        CTUseTime = #{ctusetime,jdbcType=DATE},
      </if>
      <if test="ctcheckway != null" >
        CTCheckWay = #{ctcheckway,jdbcType=INTEGER},
      </if>
      <if test="ctcheckcycle != null" >
        CTCheckCycle = #{ctcheckcycle,jdbcType=INTEGER},
      </if>
      <if test="ctmsa != null" >
        CTMSA = #{ctmsa,jdbcType=INTEGER},
      </if>
      <if test="ctoriginalnum != null" >
        CTOriginalNum = #{ctoriginalnum,jdbcType=VARCHAR},
      </if>
      <if test="ctsize != null" >
        CTSize = #{ctsize,jdbcType=INTEGER},
      </if>
      <if test="ctchecktemperature != null" >
        CTCheckTemperature = #{ctchecktemperature,jdbcType=VARCHAR},
      </if>
      <if test="ctcheckhumidiry != null" >
        CTCheckHumidiry = #{ctcheckhumidiry,jdbcType=VARCHAR},
      </if>
      <if test="ctreceiver != null" >
        CTReceiver = #{ctreceiver,jdbcType=VARCHAR},
      </if>
      <if test="ctremark != null" >
        CTRemark = #{ctremark,jdbcType=VARCHAR},
      </if>
      <if test="ctstatus != null" >
        CTStatus = #{ctstatus,jdbcType=INTEGER},
      </if>
    </set>
    where CTId = #{ctid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.CheckingTools" >
    update checkingtools
    set CTUseItem = #{ctuseitem,jdbcType=VARCHAR},
      CTCheckProgram = #{ctcheckprogram,jdbcType=VARCHAR},
      CTName = #{ctname,jdbcType=VARCHAR},
      CTProducer = #{ctproducer,jdbcType=VARCHAR},
      CTProductionNum = #{ctproductionnum,jdbcType=VARCHAR},
      CTNorms = #{ctnorms,jdbcType=VARCHAR},
      CTProcision = #{ctprocision,jdbcType=VARCHAR},
      CTResolation = #{ctresolation,jdbcType=VARCHAR},
      CTAssetNum = #{ctassetnum,jdbcType=VARCHAR},
      CTUseLine = #{ctuseline,jdbcType=VARCHAR},
      CTUseStation = #{ctusestation,jdbcType=VARCHAR},
      CTUseTime = #{ctusetime,jdbcType=DATE},
      CTCheckWay = #{ctcheckway,jdbcType=INTEGER},
      CTCheckCycle = #{ctcheckcycle,jdbcType=INTEGER},
      CTMSA = #{ctmsa,jdbcType=INTEGER},
      CTOriginalNum = #{ctoriginalnum,jdbcType=VARCHAR},
      CTSize = #{ctsize,jdbcType=INTEGER},
      CTCheckTemperature = #{ctchecktemperature,jdbcType=VARCHAR},
      CTCheckHumidiry = #{ctcheckhumidiry,jdbcType=VARCHAR},
      CTReceiver = #{ctreceiver,jdbcType=VARCHAR}
      CTRemark = #{ctremark,jdbcType=VARCHAR}
      CTStatus = #{ctstatus,jdbcType=INTEGER}
    where CTId = #{ctid,jdbcType=INTEGER}
  </update>
  <update id="updateCheckingToolTimeAndReceiverByCtid" >
    UPDATE checkingtools SET CTUseTime=#{ctusetime,jdbcType=DATE},CTReceiver=#{ctreceiver,jdbcType=VARCHAR}
    WHERE CTId=#{ctid,jdbcType=INTEGER};
  </update>
  <update id="updateCheckingToolStatusByCtid" parameterType="java.lang.Integer">
  UPDATE checkingtools SET CTStatus=1 WHERE CTId=#{ctid,jdbcType=INTEGER};
  </update>
  <update id="updateCheckingToolStatusByCtidAndCtStatus" >
   UPDATE checkingtools SET CTStatus=#{ctstatus,jdbcType=INTEGER} 
   WHERE CTId=#{ctid,jdbcType=INTEGER};
  </update>
  <update id="updateCheckingToolReceiverByCtid" >
  UPDATE checkingtools SET CTReceiver=#{ctreceiver,jdbcType=VARCHAR} WHERE CTId=#{ctid,jdbcType=INTEGER};
  </update>
</mapper>