<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.EquipmentCheckTimeDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.EquipmentCheckTime" >
    <id column="ECTId" property="ectid" jdbcType="INTEGER" />
    <result column="EId" property="eid" jdbcType="INTEGER" />
    <result column="ECTime" property="ectime" jdbcType="DATE" />
    <result column="ECNextTime" property="ecnexttime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ECTId, EId, ECTime, ECNextTime
  </sql>
  <select id="selectEquipmentCheckTimeByEid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from equipmentchecktime
    where EId = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectEquipmentCheckTimeByEctid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from equipmentchecktime
    where ECTId = #{ectid,jdbcType=INTEGER}
  </select>
  <select id="selectEctidByEid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    SELECT ect.ECTId 
	FROM equipmentchecktime ect,(SELECT MAX(ECTId) ectid FROM equipmentchecktime GROUP BY EId) ti
	WHERE EId=#{eid,jdbcType=INTEGER} AND ect.ectid=ti.ectid;
  </select>
  <delete id="deleteEquipmentCheckTimeByEid" parameterType="java.lang.Integer" >
    delete from equipmentchecktime
    where EId = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.EquipmentCheckTime" >
    insert into equipmentchecktime (ECTId, EId, ECTime, 
      ECNextTime)
    values (#{ectid,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{ectime,jdbcType=DATE}, 
      #{ecnexttime,jdbcType=DATE})
  </insert>
  <insert id="insertEquipmentCheckTime" parameterType="com.IVMS.model.EquipmentCheckTime" >
    insert into equipmentchecktime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ectid != null" >
        ECTId,
      </if>
      <if test="eid != null" >
        EId,
      </if>
      <if test="ectime != null" >
        ECTime,
      </if>
      <if test="ecnexttime != null" >
        ECNextTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ectid != null" >
        #{ectid,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ectime != null" >
        #{ectime,jdbcType=DATE},
      </if>
      <if test="ecnexttime != null" >
        #{ecnexttime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IVMS.model.EquipmentCheckTime" >
    update equipmentchecktime
    <set >
      <if test="eid != null" >
        EId = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ectime != null" >
        ECTime = #{ectime,jdbcType=DATE},
      </if>
      <if test="ecnexttime != null" >
        ECNextTime = #{ecnexttime,jdbcType=DATE},
      </if>
    </set>
    where ECTId = #{ectid,jdbcType=INTEGER}
  </update>
  <update id="updateEquipmentCheckTimeByEid" >
  UPDATE equipmentchecktime 
  SET ECTime=#{ectime,jdbcType=DATE},ECNextTime=#{ecnexttime,jdbcType=DATE} 
  WHERE EId=#{eid,jdbcType=INTEGER};
  </update>
  <update id="updateEquipmentLastCheckTime" >
  UPDATE equipmentchecktime ect,(SELECT MAX(ECTId) ectid FROM equipmentchecktime GROUP BY EId) ti
  SET ECTime=#{ectime,jdbcType=DATE},ECNextTime=#{ecnexttime,jdbcType=DATE} 
  WHERE ect.ECTId=ti.ectid AND ect.EId=#{eid,jdbcType=INTEGER};
  </update>
</mapper>