<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.EquipmentDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.Equipment" >
    <id column="EId" property="eid" jdbcType="INTEGER" />
    <result column="EName" property="ename" jdbcType="VARCHAR" />
    <result column="CId" property="cid" jdbcType="INTEGER" />
    <result column="EWorker" property="eworker" jdbcType="VARCHAR" />
    <result column="ECheckCycle" property="echeckcycle" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    EId, EName, CId, EWorker, ECheckCycle
  </sql>
  <select id="selectEquipmentByEid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from equipment
    where EId = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectMaxEid" resultType="java.lang.Integer" >
  SELECT MAX(EId) FROM equipment;
  </select>
  <select id="myEquipment" resultType="hashmap" parameterType="java.lang.String" >
   SELECT e.EId,e.EName,CName,e.EWorker,e.ECheckCycle,ect.ECTime,ect.ECNextTime,l.LName
  FROM equipment e,equipmentchecktime ect,cell c,Line l,(SELECT MAX(ECTId) ectid FROM equipmentchecktime GROUP BY EId) ti
  WHERE ect.EId=e.EId AND c.CId=e.CId AND c.LId=l.LId AND ect.ECTId=ti.ectid AND EWorker=#{eworker,jdbcType=VARCHAR};
  </select>
  <select id="selectEquipmentDetailInfo" resultType="hashmap" >
  SELECT e.EId,e.EName,CName,e.EWorker,e.ECheckCycle,ect.ECTime,ect.ECNextTime,l.LName
  FROM equipment e,equipmentchecktime ect,cell c,Line l,(SELECT MAX(ECTId) ectid FROM equipmentchecktime GROUP BY EId) ti
  WHERE ect.EId=e.EId AND c.CId=e.CId AND c.LId=l.LId AND ect.ECTId=ti.ectid
  <if test="cid != null" >
  AND e.CId=#{cid,jdbcType=INTEGER}
  </if>
  <if test='eworker != "0"' >
  AND e.EWorker=#{eworker,jdbcType=VARCHAR}
  </if>
  <if test='ename != "0"' >
  AND e.EName LIKE '%${ename}%'
  </if>
  ORDER BY ECNextTime ASC 
  LIMIT #{startRow,jdbcType=INTEGER},#{numberOfPerPage,jdbcType=INTEGER};
  </select>
  <select id="countEquipmentDetailInfo" resultType="java.lang.Integer" >
  SELECT COUNT(*)
  FROM equipment e,equipmentchecktime ect,cell c,Line l,(SELECT MAX(ECTId) ectid FROM equipmentchecktime GROUP BY EId) ti
  WHERE ect.EId=e.EId AND c.CId=e.CId AND c.LId=l.LId AND ect.ECTId=ti.ectid
  <if test="cid != null" >
  AND e.CId=#{cid,jdbcType=INTEGER}
  </if>
  <if test='eworker != "0"' >
  AND e.EWorker=#{eworker,jdbcType=VARCHAR}
  </if>
  <if test='ename != "0"' >
  AND e.EName LIKE '%${ename}%'
  </if>
  </select>
  <delete id="deleteEquipmentByEid" parameterType="java.lang.Integer" >
    delete from equipment
    where EId = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.Equipment" >
    insert into equipment (EId, EName, CId, 
      EWorker, ECheckCycle)
    values (#{eid,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{eworker,jdbcType=VARCHAR}, #{echeckcycle,jdbcType=INTEGER})
  </insert>
  <insert id="insertEquipment" parameterType="com.IVMS.model.Equipment" >
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        EId,
      </if>
      <if test="ename != null" >
        EName,
      </if>
      <if test="cid != null" >
        CId,
      </if>
      <if test="eworker != null" >
        EWorker,
      </if>
      <if test="echeckcycle != null" >
        ECheckCycle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="eworker != null" >
        #{eworker,jdbcType=VARCHAR},
      </if>
      <if test="echeckcycle != null" >
        #{echeckcycle,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateEquipment" parameterType="com.IVMS.model.Equipment" >
    update equipment
    <set >
      <if test="ename != null" >
        EName = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        CId = #{cid,jdbcType=INTEGER},
      </if>
      <if test="eworker != null" >
        EWorker = #{eworker,jdbcType=VARCHAR},
      </if>
      <if test="echeckcycle != null" >
        ECheckCycle = #{echeckcycle,jdbcType=INTEGER},
      </if>
    </set>
    where EId = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.Equipment" >
    update equipment
    set EName = #{ename,jdbcType=VARCHAR},
      CId = #{cid,jdbcType=INTEGER},
      EWorker = #{eworker,jdbcType=VARCHAR},
      ECheckCycle = #{echeckcycle,jdbcType=INTEGER}
    where EId = #{eid,jdbcType=INTEGER}
  </update>
</mapper>