<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.NotifyPersonnelEmailDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.NotifyPersonnelEmail" >
    <id column="NPEId" property="npeid" jdbcType="INTEGER" />
    <result column="CFId" property="cfid" jdbcType="VARCHAR" />
    <result column="NPENotifyEmail" property="npenotifyemail" jdbcType="VARCHAR" />
    <result column="NPENotifyTime" property="npenotifytime" jdbcType="DATE" />
    <result column="NPEStyle" property="npestyle" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    NPEId, CFId, NPENotifyEmail, NPENotifyTime,NPEStyle
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from notifypersonnelemail
    where NPEId = #{npeid,jdbcType=INTEGER}
  </select>
  <select id="selectNotifyEmailAndTime" resultType="hashmap" >
  SELECT NPENotifyEmail,NPENotifyTime,NPEStyle,CFId FROM notifypersonnelemail WHERE NPEStyle!=0; 
  </select>
  <select id="selectNotifyEmailByCfid" resultMap="BaseResultMap" parameterType="java.lang.String" >
  SELECT NPENotifyEmail FROM notifypersonnelemail WHERE CFId=#{cfid,jdbcType=VARCHAR}
  </select>
  <select id="selectStyleByCfidAndNotifyEmail" resultMap="BaseResultMap">
  SELECT NPEStyle FROM notifypersonnelemail WHERE 
  CFId=#{cfid,jdbcType=VARCHAR} AND NPENotifyEmail=#{npenotifyemail,jdbcType=VARCHAR};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from notifypersonnelemail
    where NPEId = #{npeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteCopyEmailsByCfid" parameterType="java.lang.String" >
    delete from notifypersonnelemail
    where CFId = #{CFId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteCopyEmailsByCfidAndStyle" parameterType="java.lang.String" >
    delete from notifypersonnelemail
    where CFId = #{CFId,jdbcType=VARCHAR} AND NPEStyle=2;
  </delete>
  <delete id="deleteCopyEmailsByCfidAndEmail">
    delete from notifypersonnelemail
    where CFId = #{cfid,jdbcType=VARCHAR} AND NPEStyle=3 AND NPENotifyEmail=#{npenotifyemail,jdbcType=VARCHAR};
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.NotifyPersonnelEmail" >
    insert into notifypersonnelemail (NPEId, CFId, NPENotifyEmail, 
      NPENotifyTime,NPEStyle)
    values (#{npeid,jdbcType=INTEGER}, #{cfid,jdbcType=VARCHAR}, #{npenotifyemail,jdbcType=VARCHAR}, 
      #{npenotifytime,jdbcType=DATE},#{npestyle,jdbcType=INTEGER})
  </insert>
  <insert id="insertCopySendEmail" parameterType="com.IVMS.model.NotifyPersonnelEmail" >
    insert into notifypersonnelemail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="npeid != null" >
        NPEId,
      </if>
      <if test="cfid != null" >
        CFId,
      </if>
      <if test="npenotifyemail != null" >
        NPENotifyEmail,
      </if>
      <if test="npenotifytime != null" >
        NPENotifyTime,
      </if>
      <if test="npestyle != null" >
        NPEStyle
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="npeid != null" >
        #{npeid,jdbcType=INTEGER},
      </if>
      <if test="cfid != null" >
        #{cfid,jdbcType=VARCHAR},
      </if>
      <if test="npenotifyemail != null" >
        #{npenotifyemail,jdbcType=VARCHAR},
      </if>
      <if test="npenotifytime != null" >
        #{npenotifytime,jdbcType=DATE},
      </if>
      <if test="npestyle != null" >
        #{npestyle,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateNotifyPersonalEmailByCfid" parameterType="com.IVMS.model.NotifyPersonnelEmail" >
    update notifypersonnelemail
    <set>
      <if test="npenotifyemail != null" >
        NPENotifyEmail = #{npenotifyemail,jdbcType=VARCHAR},
      </if>
      <if test="npenotifytime != null" >
        NPENotifyTime = #{npenotifytime,jdbcType=DATE},
      </if>
    </set>
    where CFId = #{cfid,jdbcType=VARCHAR} AND NPEStyle = #{npestyle,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.NotifyPersonnelEmail" >
    update notifypersonnelemail
    set CFId = #{cfid,jdbcType=VARCHAR},
      NPENotifyEmail = #{npenotifyemail,jdbcType=VARCHAR},
      NPENotifyTime = #{npenotifytime,jdbcType=DATE},
      NPEStyle = #{npestyle,jdbcType=INTEGER}
    where NPEId = #{npeid,jdbcType=INTEGER}
  </update>
</mapper>