<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.IVMS.dao.ProjectDao" >
  <resultMap id="BaseResultMap" type="com.IVMS.model.Project" >
    <id column="PId" property="pid" jdbcType="INTEGER" />
    <result column="PName" property="pname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PId, PName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where PId = #{pid,jdbcType=INTEGER}
  </select>
  <select id="selectProjects" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from project
  </select>
  <delete id="deleteByPid" parameterType="java.lang.Integer" >
    delete from project
    where PId = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.IVMS.model.Project" >
    insert into project (PId, PName)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertProject" parameterType="java.lang.String" >
    INSERT INTO project (PName) VALUES (#{pname,jdbcType=VARCHAR});
  </insert>
  <insert id="insertSelective" parameterType="com.IVMS.model.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PId,
      </if>
      <if test="pname != null" >
        PName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.IVMS.model.Project" >
    update project
    <set >
      <if test="pname != null" >
        PName = #{pname,jdbcType=VARCHAR},
      </if>
    </set>
    where PId = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.IVMS.model.Project" >
    update project
    set PName = #{pname,jdbcType=VARCHAR}
    where PId = #{pid,jdbcType=INTEGER}
  </update>
</mapper>